<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anigram • Sign Up</title>
    <%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <% if (error) { %>
    <div class="error-message"><%= error %></div>
    <% } %>
    <div class="signup-container">
      <h1>Anigram</h1>
      <p class="subtitle">Join Anigram and connect with your animal friends!</p>
      <form action="/signin" method="POST" class="signup-form">
        <input
          type="text"
          name="username"
          placeholder="Email ( anigram@gmail.com )"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password ( by-akram )"
          required
        />
        <button type="submit">Sign In</button>
      </form>
      <div class="divider">OR</div>
      <p class="footer-note">
        Created by <a href="https://github.com/akramcodez">Akramcodez</a>
      </p>
      <div class="animal-icons">
        <i class="fas fa-dog" style="color: #3897f0"></i>
        <i class="fas fa-cat" style="color: #3897f0"></i>
        <i class="fas fa-paw" style="color: #3897f0"></i>
      </div>
    </div>
  </body>
</html>
