<!-- navigation.ejs -->

<div class="top-nav-bar">
  <h1><i>Anigram</i></h1>
  <div class="top-right-bar">
    <a href="#" class="topLike">
      <p class="icon-pp" type="button">
        <i class="fa-solid fa-heart"></i> <span>Like</span>
      </p>
    </a>
    <a href="/ig/message/tiger247" class="topMessage">
      <p class="icon-pp" type="button">
        <i class="fa-solid fa-envelope"></i> <span>Message</span>
      </p>
    </a>
  </div>
</div>

<div class="side-bar">
  <div class="upperside-bar">
    <a href="/ig" class="home"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-house"></i> <span>Home</span>
      </p></a
    >
    <a href="/ig/search" class="search"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-magnifying-glass"></i> <span>Search</span>
      </p></a
    >
    <a href="/ig/explore" class="explore"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-rotate-right" style="opacity: 1"></i>
        <span>Explore</span>
      </p></a
    >
    <a href="/ig/reels" class="reels"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-film"></i> <span>Reels</span>
      </p></a
    >
    <a href="/ig/message/tiger247" class="Message"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-envelope"></i> <span>Message</span>
      </p></a
    >
    <a class="like"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-heart"></i> <span>Like</span>
      </p></a
    >
    <a href="/ig/posts/new" class="create"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-plus"></i> <span>Create</span>
      </p></a
    >
    <a href="/ig/tiger247" class="profile" id="pfAnchor">
      <p class="icon-p" type="button" id="profile">
        <i class="fa-solid fa-user"></i> <span>Profile</span>
      </p>
    </a>
  </div>
  <div class="lowerside-bar">
    <a href="https://threads-clone-akram.onrender.com/threads.net"
      ><p class="icon-p" type="button">
        <i class="fa-solid fa-share"></i> Threads
      </p></a
    >
    <a href="/ig/settings"
      ><p class="icon-p" type="button">
        <i class="fa-regular fa-sun"></i> Settings
      </p></a
    >
  </div>
</div>
