<!-- Setting-options -->

<div class="middle">
  <div class="card">
    <div class="info">
      <h3>About Anigram</h3>
      <p>
        Find out how Anigram was made and the tech behind connecting animal
        lovers.
      </p>
    </div>
    <a href="/ig/settings/learn-more">Learn more</i></a>
  </div>
  <a href="/ig/tiger247/edit-profile"><div class="edit-profile icon-p" type="button"><i class="fa-solid fa-wrench"></i> Edit Profile</div></a>
  <a href="/ig/settings/creators"><div class="creators icon-p" type="button"><i class="fa-solid fa-users-gear"></i> Creators</div></a>
  <a href="/ig/settings/help"><div class="creators icon-p" type="button"><i class="fa-solid fa-handshake-angle"></i> Help</div></a>
  <a href="/ig/log-out"><div class="log-out icon-p" type="button"><i class="fa-solid fa-person-walking-arrow-right"></i> Log-out</div></a>
</div>
