<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Anigram • Edit Post</title>
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <div class="right-side">
      <div class="middle container">
        <br />
        <h2 class="title">Edit Post</h2>

        <div class="image-preview">
          <img id="previewImage" src="" />
          <p id="notFoundMessage" style="display: none; color: red">
            Image Not Found
          </p>
        </div>

        <form method="POST" action="/ig/post/<%= post.id %>/edit" class="form">
          <div class="input-container">
            <input
              type="text"
              id="imageUrlInput"
              name="image"
              value="<%= post.image %>"
              required
            />
          </div>

          <div class="button-container">
            <button type="submit" class="dark-button">Submit</button>
          </div>
        </form>
        <br />
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const imageUrlInput = document.getElementById("imageUrlInput");
        const previewImage = document.getElementById("previewImage");
        const notFoundMessage = document.getElementById("notFoundMessage");

        const initialImageUrl = imageUrlInput.value;
        if (initialImageUrl) {
          previewImage.src = initialImageUrl;
          previewImage.style.display = "block";
        } else {
          previewImage.style.display = "none";
        }

        imageUrlInput.addEventListener("input", function () {
          const imageUrl = this.value;

          if (imageUrl) {
            previewImage.src = imageUrl;
            previewImage.style.display = "block";
            notFoundMessage.style.display = "none";

            previewImage.onload = function () {
              previewImage.style.display = "block";
              notFoundMessage.style.display = "none";
            };

            previewImage.onerror = function () {
              previewImage.style.display = "none";
              notFoundMessage.style.display = "block";
            };
          } else {
            previewImage.src = "";
            previewImage.style.display = "none";
            notFoundMessage.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
