<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Anigram</title>
    <link rel="stylesheet" href="/css/insta.css" />
  </head>
  <body class="error-body">
    <h1 class="error-page">Sorry Animal page not Found</h1>
  </body>
</html>
