<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Anigram • Error</title>
    <link rel="stylesheet" href="/css/insta.css" />
    <style>
      .right-side{
        width: 80%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-items: center;
      }
      .right-side h1 {
        font-size: 4rem;
      }
    </style>
  </head>
  <body class="error-body">
    <%- include('includes/navigation.ejs') %>
    <div class="right-side">
      <h1 class="error-page">Something is wrong</h1>
    </div>
  </body>
</html>
