<!-- navigation.ejs -->
<div class="side-bar">
    <div class="upperside-bar">
        <a href="/ig"><p class="icon-p" type="button"><i class="fa-solid fa-house"></i> Home</p></a>
        <a href="/search"><p class="icon-p" type="button"><i class="fa-solid fa-magnifying-glass"></i> Search </p></a>
        <p class="icon-p" type="button"><i class="fa-solid fa-rotate-right" style="opacity: 1;"></i> Explore</p>
        <p class="icon-p" type="button"><i class="fa-solid fa-film"></i> Reels</p>
        <p class="icon-p" type="button"><i class="fa-solid fa-envelope"></i> Message</p>
        <p class="icon-p" type="button"><i class="fa-solid fa-heart"></i> Like</p>
        <p class="icon-p" type="button"><i class="fa-solid fa-plus"></i> Create</p>
        <a href="/ig/tiger247" id="pfAnchor">
            <p class="icon-p" type="button" id="profile"><i class="fa-solid fa-user"></i> Profile</p>
        </a>
    </div>
    <div class="lowerside-bar">
        <a href="https://threads-clone-akram.onrender.com/threads.net"><p class="icon-p" type="button"><i class="fa-solid fa-share"></i> Threads</p></a>
        <a href="/ig/settings"><p class="icon-p" type="button"><i class="fa-regular fa-sun"></i> Settings</p></a>
    </div>
</div>
