<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anigram . Setting</title>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/setting-options.css" />
    <link rel="stylesheet" href="/css/setting.css" />
  </head>
  <body>
    <%- include('navigation.ejs') %> 
    <%- include('Setting-options.ejs') %>
    <div class="right-side">
      <div class="smile-container">
        <i class="fa-regular fa-face-laugh-beam"></i>
        <div class="smile-text">Explore Your Settings</div>
      </div>
    </div>
  </body>
</html>
