<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anigram . Setting</title>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/setting-options.css" />
    <link rel="stylesheet" href="/css/setting_creators.css" />
  </head>
  <body>
    <%- include('navigation.ejs') %> <%- include('Setting-options.ejs') %>
    <div class="right-side">
      <div class="msg">
        <h2 class="author-title">👤 Author Information</h2>
        <div class="author-card">
          <p><strong>Name : </strong><a href="https://github.com/akramcodez">SK Akram</a></p>
          <p>
            <strong>Email : </strong>
            <a href="mailto:skcodewizard786@gmail.com"
              >skcodewizard786@gmail.com</a
            >
          </p>
          <div class="social-media">
            <strong>Connect : </strong>
            <a href="https://twitter.com/akramcodez" class="social-link"
              >Twitter</a
            >
            <a
              href="https://www.linkedin.com/in/sk-akram-aaa903318/"
              class="social-link"
              >LinkedIn</a
            >
            <a href="https://instagram.com/akramcodez" class="social-link"
              >Instagram</a
            >
            <a href="https://youtube.com/@akramcodez" class="social-link"
              >YouTube</a
            >
          </div>
        </div>

        <hr class="divider" />

        <h2 class="contributors-title">👥 Contributors</h2>
        <p>We appreciate the efforts and dedication of all contributors:</p>
        <br>
        <ul class="contributors-list">
          <li>
            <strong
              ><a href="https://github.com/mishraRj">Rajat Mishra</a></strong
            >: Worked on: <strong>Profile Editing</strong>,
            <strong>Post Deletion</strong>.
          </li>
          <li>
            <strong
              ><a href="https://github.com/Abhijit8951">Abijit Swain</a></strong
            >: Worked on: <strong>Home Page</strong>, <strong>Routing</strong>.
          </li>
          <li>
            <strong
              ><a href="https://github.com/Himanshu19-coder"
                >Himanshu</a
              ></strong
            >: Worked on: <strong>Search Functionality and Suggestions</strong>.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
