* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.right-side {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.card {
  background-color: #000000;
  padding: 2rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; 
  overflow-y: auto;
  position: relative;
  top: 5px;
}

.card form {
  display: flex;
  flex-direction: column; 
  gap: 1rem; 
}

.card label {
  font-size: 1rem;
}

.card input {
  width: 50%; 
  padding: 0.8rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.card input::placeholder {
  color: #888;
}

.card button {
  width: 20%;
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: gray;
}

.upper {
  width: 100%;
  border-bottom: 2px solid white;
  line-height: 3rem;
}

.lower {
  margin-top: 20px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.card::-webkit-scrollbar {
  width: 10px;
}

.card::-webkit-scrollbar-track {
  background: #1c1c1e;
  border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
  background: #444;
  border: 2px solid #1c1c1e;
}

.card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card::-webkit-scrollbar-thumb:active {
  background: #777;
}

.right-side{
  position: absolute;
  right: 0;
  height: 100%;
}
@media (max-width: 860px) {
  .icon-p {
    margin-left: 0.5rem;
  }
  .card input {
    width: 60%;
  }
}