.right-side {
  overflow-x: auto;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  width: 100%;
}

.post {
  margin-left: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.678);
  border-radius: 15px;
  opacity: 0.8;
}

.post img {
  border-radius: 15px;
}

.post:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .right-side{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  .down-bar a .post {
    margin: 0;
    margin-bottom: 1rem;
  }
}

