* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.top-bar {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  margin: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

.profile-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.205);
  padding: 1rem;
}

.profile-img .img {
  height: 12rem;
  width: 12rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}

.profile-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.section {
  width: 70%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section1 span {
  font-size: 1.5rem;
  font-weight: bold;
}

.section1 button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.section1 button:hover {
  background-color: gray;
}

.section2,
.section3 {
  margin-top: 1rem;
}

.down-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;

  padding-bottom: 2rem;
}

.post {
  width: 18rem;
  height: 18rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.post:hover {
  transform: scale(1.05);
}

.fa-solid {
  cursor: pointer;
  z-index: 10;
}

.post .fa-solid:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.post img {
  width: 100%;
  height: 80%;
  margin-top: 0;
  object-fit: cover;
  border-radius: 10px;
}

.post-details {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.post-details p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-body {
  display: flex;
  justify-content: center;
}
.error-page {
  font-size: 3rem;
  margin-top: 5rem;
}

.card {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 5%;
}

.card input {
  background-color: #212121;
  color: white;
}

.card button {
  background-color: #212121;
  color: white;
}

a {
  margin: 0;
  padding: 0;
}

.right-side::-webkit-scrollbar {
  width: 10px;
}

.right-side::-webkit-scrollbar-track {
  background: #1c1c1e;
  border-radius: 10px;
}

.right-side::-webkit-scrollbar-thumb {
  background: #444;
  border: 2px solid #1c1c1e;
}

.right-side::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.right-side::-webkit-scrollbar-thumb:active {
  background: #777;
}
