.right-side {
  width: 80%;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.post-container {
  width: 60%;
  min-width: 40rem;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 40px auto;
}

.image {
  margin: 1rem;
}

.image img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.712);
}

.post-details {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 16px;
}

.post-details .likes {
  margin-right: 1.5rem;
}

.post-details i {
  color: #ff4d4d;
  font-size: 18px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.backA {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 1s ease;
}

.fa-arrow-left {
  font-size: 1.5rem;
}

.backA:hover{
  opacity: 1;
}

@media (max-width: 970px) {
  .post-container {
    min-width: 33rem;
  }
}


/* explore-zoom */
.button-a {
  height: 3rem;
  width: 7rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 64, 64);
  transition: background-color 0.8s ease;
}

.button-a:hover {
  background-color: rgb(47, 46, 46);
}
