* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.body {
  display: flex;
  overflow-y: hidden;
}

.right-side {
  width: 70%;
}

.search-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-box {
  margin-left: 5%;
  margin-top: 2rem;
  width: 35vw;
  min-width: 25rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.514);
}

.search-1 {
  height: 2rem;
  font-weight: bolder;
  font-size: xx-large;
  padding: 1rem;
  padding-bottom: 2rem;
  opacity: 0.7;
  margin-top: 3.5rem;
}

.search-2 {
  width: 75%;
  align-content: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

#searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1em;
}

#searchInput {
  flex-grow: 1;
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  background-color: #363636;
  font-size: 1em;
  outline: none;
  color: #a8a8a8;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 1rem;
}

.search-button i {
  font-size: 1.5em;
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.search-button:hover i {
  opacity: 1;
}

.searchResults {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.75em;
  border: 1px solid white;
  overflow: hidden;
  object-fit: cover;
}

#searchResults {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.521);
}

.user-result {
  display: flex;
  width: 15em;
  flex-direction: row;
  margin: 1rem;
}

.user-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-name {
  font-size: 2em;
  color: #ffffff;
  display: flex;
  font-weight: 500;
  height: 3rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .right-side {
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh;
    flex-direction: column; /* Keep layout column-based for mobile */
  }

  .search-container{
    margin-top: 10rem;
    height: 50%;
  }
  .search-box {
    margin: 0;
    transform: translateY(-30%); /* Slight offset to balance alignment */
  }
  .search-1{
    width: 60%;
  }
}


